<%= simple_form_for(@deporte_usuario, :html => {:class => "form-horizontal denser"}) do |f| %>
  <fieldset>
    <%= f.input :nombre %>
    <%= f.input :apellido %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :rol, :collection => [['Administrador', 'A'],['Recepcion', 'R'],['Médico','M']], :prompt => "Seleccione el Rol" %>
    <%= f.input :cedula %>
    <%= f.input :celular %>
    <%= f.input :direccion_residencia %>
    <%= f.input :telefono_residencia %>
  <fieldset>

  <div class="form-actions">
    <button class="btn btn-primary" data-disable-with="&lt;i class='icon-white icon-refresh'&gt;&lt;/i&gt; Refresh" type="submit">
      <i class="icon-white icon-ok"></i>
      Salvar
    </button>
  </div>
<% end %>
