<div class="page-header">
  <h1>Detalles del Paciente</h1>
</div>

<%= render 'shared/nav_bar' %>

<div class="fieldset">
  <h3>Información Básica</h3>  
  <div class="span11 well">
  
    <ul class="thumbnails" style="margin-bottom:0px">
      <li class="span3" style="margin-bottom:0px">
        <a href="javascript:void(0)" class="thumbnail">
          <%= image_tag @paciente.foto_socio, :width => '160px', :height => '200px' %>
        </a>
      </li>
      <li class="span9" style="margin-bottom:0px">
        <dl class="dl-horizontal span6" style="margin-bottom:0px">
          <dt>Doc. Identidad</dt>
          <dd>&nbsp;<%= @paciente.NumDocumento %></dd>
          
          <dt>Fecha Nacimiento</dt>
          <dd>&nbsp;<%= @paciente.fecha_nacimiento %></dd>
          
          <dt>Dir. Residencia</dt>
          <dd>&nbsp;<%= @paciente.DirResidencia %></dd>
          
          <dt>Celular</dt>
          <dd>&nbsp;<%= @paciente.Celular %></dd>
          
          <dt>Email</dt>
          <dd>
            <%= @paciente.email %>  
          </dd>
        </dl>
        <dl class="dl-horizontal span6" style="margin-bottom:0px">
          <dt>Edo. Civil</dt>
          <dd>&nbsp;<%= @paciente.nombre_estado_civil %></dd>
          
          <dt>Sexo</dt>
          <dd>&nbsp;<%= @paciente.sexo %></dd>

          <dt>Tel. Residencia</dt>
          <dd>&nbsp;<%= @paciente.TelResidencia %></dd>
        </dl>
      </li>
    </ul>
  </div>
  <div class = "fieldset">
    <h3>Ultimas Historias Clínicas</h3>

    <table class="table table-striped">
      <tr>
        <th>Motivo Consulta</th>
        <th>Enfermedad Actual</th>
        <th>Diagnóstico</th>
        <th>Recomendaciones</th>
        <th>Creación</th>
      </tr>
      <% @historias_clinicas.each do |historia_clinica| %>
        <tr>
          <td><%= link_to historia_clinica.motivo_consulta, paciente_historia_clinicas_path(historia_clinica.socio, historia_clinica) %></td>
          <td><%= historia_clinica.enfermedad_actual %></td>
          <td><%= historia_clinica.diagnostico %></td>
          <td><%= historia_clinica.recomendaciones %></td>
          <td><%= historia_clinica.fecha_creacion %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class = "fieldset">
    <h3>Ultimas Citas Médicas</h3>

    <table class="table table-striped">
      <tr>
        <th>Fecha Cita</th>
        <th>Día de Creación</th>
        <th>Estado</th>
        <th></th>
      </tr>
      <% @citas_medicas.each do |cita| %>
        <tr>
          <td><%= cita.fecha_cita %></td>
          <td><%= cita.fecha_creacion %></td>
          <td><%= cita.estatus %></td>
          <td>
            <%= link_to 'Editar', edit_citas_medica_path(cita), :class => 'btn btn-mini'  if current_deporte_usuario.is?(:recepcion) %>
            <%= link_to 'Eliminar', citas_medica_path(cita), :method => :delete, :confirm => 'Está seguro?', :class => 'btn btn-mini btn-danger'  if current_deporte_usuario.is?(:recepcion) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>