<% agenda = [
  {"controller_path" => "agenda", "action_name"=>"index"},
  ] %>

<% cita = [
  {"controller_path" => "citas_medicas", "action_name"=>"index"},
  {"controller_path" => "citas_medicas", "action_name"=>"agendar"},
  {"controller_path" => "citas_medicas", "action_name"=>"create"},
  {"controller_path" => "citas_medicas", "action_name"=>"edit"},
  {"controller_path" => "citas_medicas", "action_name"=>"update"},
  ] %>  

<% historia = [
  {"controller_path" => "historias_clinicas", "action_name"=>"index"},
  {"controller_path" => "historias_clinicas", "action_name"=>"elaborar"},
  {"controller_path" => "historias_clinicas", "action_name"=>"create"},
  ] %>

<% usuario = [
  {"controller_path" => "deporte_usuarios", "action_name"=>"index"},
  {"controller_path" => "deporte_usuarios", "action_name"=>"new"},
  {"controller_path" => "deporte_usuarios", "action_name"=>"create"},
  {"controller_path" => "deporte_usuarios", "action_name"=>"edit"},
  ] %>  

<% ayuda = [
  {"controller_path" => "ayuda", "action_name"=>"index"},
  ] %>

<ul class="nav nav-list">
  <li class="nav-header">Menú Principal</li>

  <li <%= set_as_current_tab(agenda, false, 'active') %> >
    <a href = <%= agenda_index_path %> >
      <i class= "icon-calendar <%= set_as_current_tab(agenda, true, 'icon-white') %>"></i> 
      Agenda
    </a>
  </li>
  
  <% if current_deporte_usuario.is?(:recepcion) %>
    <li <%= set_as_current_tab(cita, false, 'active') %> >
      <a href = <%= citas_medicas_path %>>
        <i class= "icon-book <%= set_as_current_tab(cita, true, 'icon-white') %>"></i> 
        Citas Médicas
      </a>
    </li>
  <% end %>
  
  <% if current_deporte_usuario.is?(:medico) %>
    <li <%= set_as_current_tab(historia, false, 'active') %> >
      <a href = <%= historias_clinicas_path %> >
        <i class= "icon-list-alt <%= set_as_current_tab(historia, true, 'icon-white') %>"></i> 
        Historias Clínicas
      </a>
    </li>
  <% end %>

  <% if current_deporte_usuario.is?(:administrador) %>
    <li class="nav-header">Configuración</li>

    <li <%= set_as_current_tab(usuario, false, 'active') %> >
      <a href = <%= deporte_usuarios_path %> >
        <i class= "icon-user <%= set_as_current_tab(usuario, true, 'icon-white') %>"></i> 
        Usuários
      </a>
    </li>
  <% end %>

  <li class="divider"></li>

  <li <%= set_as_current_tab(ayuda, false, 'active') %> >
    <a href="<%= ayuda_index_path %>">
      <i class="icon-flag <%= set_as_current_tab(ayuda, true, 'icon-white') %>"></i> 
      Ayuda
    </a>
  </li>
</ul>