<div class="page-header">
  <h1>Historias Cl&iacute;nicas</h1>
</div>

<%= render 'shared/nav_bar' %>

<div class="fieldset">
  <h3>Edite la historia cl&iacute;nica.</h3>  
  <div class="span11 well">
  
    <ul class="thumbnails" style="margin-bottom:0px">
      <li class="span3" style="margin-bottom:0px">
        <a href="javascript:void(0)" class="thumbnail">
          <%= image_tag @paciente.foto_socio, :width => '160px', :height => '200px' %>
        </a>
      </li>
      <li class="span9" style="margin-bottom:0px">
        <dl class="dl-horizontal span6" style="margin-bottom:0px">
          <dt>Doc. Identidad</dt>
          <dd>&nbsp;<%= @paciente.NumDocumento %></dd>
          
          <dt>Fecha Nacimiento</dt>
          <dd>&nbsp;<%= @paciente.fecha_nacimiento %></dd>
          
          <dt>Dir. Residencia</dt>
          <dd>&nbsp;<%= @paciente.DirResidencia %></dd>
          
          <dt>Celular</dt>
          <dd>&nbsp;<%= @paciente.Celular %></dd>
          
          <dt>Email</dt>
          <dd>
            <%= @paciente.email %>  
          </dd>
        </dl>
        <dl class="dl-horizontal span6" style="margin-bottom:0px">
          <dt>Edo. Civil</dt>
          <dd>&nbsp;<%= @paciente.nombre_estado_civil %></dd>
          
          <dt>Sexo</dt>
          <dd>&nbsp;<%= @paciente.sexo %></dd>

          <dt>Tel. Residencia</dt>
          <dd>&nbsp;<%= @paciente.TelResidencia %></dd>
        </dl>
      </li>
    </ul>
  </div>
</div>

<div class="span11">
  <%= simple_form_for @historia_clinica, :url => historias_clinica_path(@historia_clinica), :html => {:class => "form-horizontal his_clinca", :style => "margin-bottom:0px"} do |f| %>
    <%= hidden_field_tag :id_unico_socio, @paciente.id %>
    <legend style="font-size:16px"></legend>
    <div class='span11'>
      <div class="span7">
        <dl class="dl-horizontal" style="margin-bottom:0px">
          <dt>Nombre de acompañante</dt>
          <dd>
            <%= f.input :nombre_acompanante, :label => false, :input_html => {:class => "input-large"} %>
          </dd>
          <dt>Persona responsable</dt>
          <dd>
            <%= f.input :nombre_responsable, :label => false, :input_html => {:class => "input-large"} %>
          </dd>
          <dt>Aseguradora (E.P.S.)</dt>
          <dd>
            <%= f.input :nombre_aseguradora, :label => false, :input_html => {:class => "input-large"} %>
          </dd>
          <dt>Tipo de sangre</dt>
          <dd>
            <%= f.input :tipo_sangre, :label => false, :input_html => {:class => "input-small"} %>
          </dd>
        </dl>
      </div>
      <div class="span4">
        <dl class="dl-horizontal" style="margin-bottom:0px">
          <dt>Tel&eacute;fono</dt>
          <dd>
            <%= f.input :telefono_acompanante, :label => false, :input_html => {:class => "input-small"} %>
          </dd>
          <dt>Tel&eacute;fono</dt>
          <dd>
            <%= f.input :telefono_responsable, :label => false, :input_html => {:class => "input-small"} %>
          </dd>
          <dt>Tipo vinculaci&oacute;n</dt>
          <dd>
            <%= f.input :tipo_aseguradora, :label => false, :input_html => {:class => "input-small"} %>
          </dd>
          <dt>Grupo de Paciente</dt>
          <dd>
            <%= f.input :grupo_paciente_id, :collection => DeporteHistoriasClinica::GRUPO_PACIENTE, :label => false, :input_html => {:class => "span12"} %>          
          </dd>
        </dl>
      </div>
    </div>    
    <legend style="font-size:16px"> * Motivo de Consulta</legend>
    <%= f.input :motivo_consulta, :label => false, :input_html => {:class => "input-xxlarge", :rows => "2"} %>
    <legend style="font-size:16px"> * Enfermedad Actual</legend>
    <%= f.input :enfermedad_actual, :label => false, :input_html => {:class => "input-xxlarge", :rows => "2"} %>
    <legend style="font-size:16px">Antecedentes personales patol&oacute;gicos</legend>
    <%= f.input :ante_personales_patologicos, :label => false, :input_html => {:class => "input-xxlarge", :rows => "2"} %>
    <legend style="font-size:16px">Antecedentes Gino-obst&eacute;tricos</legend>
    <%= f.input :ante_gino_obstetricos, :label => false, :input_html => {:class => "input-xxlarge", :rows => "2"} %>
    <legend style="font-size:16px">Antecedentes Quir&uacute;rgicos</legend>
    <%= f.input :ante_quirurgicos, :label => false, :input_html => {:class => "input-xxlarge", :rows => "2"} %>
    <legend style="font-size:16px">Antecedentes Al&eacute;rgicos</legend>
    <%= f.input :ante_alergicos, :label => false, :input_html => {:class => "input-xxlarge", :rows => "1"} %>
    <legend style="font-size:16px">Antecedentes Familiares</legend>
    <%= f.input :ante_familiares, :label => false, :input_html => {:class => "input-xxlarge", :rows => "1"} %>
    <legend style="font-size:16px">Examen F&iacute;sico.</legend>
    <div class='span11'>
      <div class="span5">
        <dl class="dl-horizontal" style="margin-bottom:0px">
          <dt>FC</dt>
          <dd>
            <%= f.input :frecuencia_cardiaca, :label => false, :input_html => {:class => "input-small"} %>
          </dd>
          <dt >TA</dt>
          <dd>
            <%= f.input :tension_arterial, :label => false, :input_html => {:class => "input-small"} %>
          </dd>
          <dt>FR</dt>
          <dd>
            <%= f.input :frecuencia_respiratoria, :label => false, :input_html => {:class => "input-small"} %>
          </dd>
          <dt>Temperatura</dt>
          <dd>
            <%= f.input :temperatura, :label => false, :input_html => {:class => "input-small"} %>
          </dd>
        </dl>
      </div>
      <div class="span5">
        <dl class="dl-horizontal" style="margin-bottom:0px">
          <dt>Peso Actual</dt>
          <dd>
            <%= f.input :peso_actual, :label => false, :input_html => {:class => "input-small"} %>
          </dd>
          <dt>Talla</dt>
          <dd>
            <%= f.input :talla, :label => false, :input_html => {:class => "input-small"} %>
          </dd>
          <dt>IMC</dt>
          <dd>
            <%= f.input :imc, :label => false, :input_html => {:class => "input-small"} %>
          </dd>
          <dt>%Graso</dt>
          <dd>
            <%= f.input :porcentage_graso, :label => false, :input_html => {:class => "input-small"} %>
          </dd>
        </dl>
      </div>
    </div>
    <legend style="font-size:16px">Aparatos Y Sistemas</legend>
    <%= f.input :ccc, :input_html => {:class => "input-xxlarge", :rows => "1"} %>
    <%= f.input :cardiopulmonar, :input_html => {:class => "input-xxlarge", :rows => "1"} %>
    <%= f.input :abdomen, :input_html => {:class => "input-xxlarge", :rows => "1"} %>
    <%= f.input :extremidades, :input_html => {:class => "input-xxlarge", :rows => "1"} %>
    <%= f.input :snc, :input_html => {:class => "input-xxlarge", :rows => "1"} %>
    <legend style="font-size:16px">Diagn&oacute;stico</legend>
    <%= f.input :diagnostico, :input_html => {:class => "input-xxlarge", :rows => "3"} %>
    <legend style="font-size:16px">Recomendaciones</legend>
    <%= f.input :recomendaciones, :input_html => {:class => "input-xxlarge", :rows => "3"} %>
    <button class="btn btn-primary" data-disable-with="&lt;i class='icon-white icon-refresh'&gt;&lt;/i&gt; Refresh" type="submit">
      <i class="icon-white icon-ok"></i>
      Salvar
    </button>
  <% end %>
</div>