<div class="page-header">
  <h1>Historias Clínicas</h1>
</div>

<%= render 'shared/nav_bar' %>

<div class="fieldset">
  <h3>Elabore una historia clínica.</h3>  
  <div class="span11 well">
  
    <ul class="thumbnails" style="margin-bottom:0px">
      <li class="span3" style="margin-bottom:0px">
        <a href="#" class="thumbnail">
          <%#= @paciente.foto.present? ? @paciente.foto.Photo : 'No Photo' %>
          <img src="http://placehold.it/160x200" alt="">
        </a>
      </li>
      <li class="span9" style="margin-bottom:0px">
        <dl class="dl-horizontal" style="margin-bottom:0px">
          <dt class="fix_dt">Cédula</dt>
          <dd class="fix_dd"><%= @paciente.NumDocumento %></dd>
          
          <dt>Numero accion</dt>
          <dd><%= @paciente.NumSocio %></dd>
          
          <dt>Tel. Residencial</dt>
          <dd><%= @paciente.TelResidencia %></dd>
          
          <dt>Celular</dt>
          <dd><%= @paciente.Celular %></dd>
          
          <dt>Email</dt>
          <dd>
            <% if @paciente.EmailPersonal.present? %>
              <%= @paciente.EmailPersonal %>
            <% else %>
              <span class="label label-warning">El Socio no posee cuenta de correo. Por favor dirijase a Deportes</span>
            <% end %>  
          </dd>
        </dl>
      </li>
    </ul>
  </div>
</div>

<div class="span11">
  <%= simple_form_for @historia_clinica, :url => historias_clinicas_path, :html => {:class => "form-inline", :style => "margin-bottom:0px"} do |f| %>
    <%= hidden_field_tag :id_unico_socio, @paciente.id %>
         
    <legend style="font-size:16px">Motivo de Consulta</legend>
    <%= f.input :motivo_consulta, :label => false, :input_html => {:class => "input-xxlarge", :rows => "2"} %>
    <legend style="font-size:16px">Enfermedad Actual</legend>
    <%= f.input :enfermedad_actual, :label => false, :input_html => {:class => "input-xxlarge", :rows => "2"} %>

    <button class="btn btn-primary" data-disable-with="&lt;i class='icon-white icon-refresh'&gt;&lt;/i&gt; Refresh" type="submit">
      <i class="icon-white icon-ok"></i>
      Salvar
    </button>
  <% end %>
</div>