<div class="page-header">
  <h1>Historias Clínicas</h1>
</div>

<%= render 'shared/nav_bar' %>

<div id="list">
  <%= render 'shared/search_bar' %>

  <table class="table table-striped">
    <tr>
      <th class="dropdown-toggle" data-toggle="dropdown">Motivo Consulta</th>
      <th>Enfermedad Actual</th>
      <th>Diagnóstico</th>
      <th>Tratamiento</th>
    </tr>

    <% @historias_clinicas.each do |historias_clinica| %>
      <tr>
        <td><%= historias_clinica.motivo_consulta %></td>
        <td><%= historias_clinica.enfermedad_actual %></td>
        <td><%= historias_clinica.diagnostico %></td>
        <td><%= historias_clinica.tratamiento %></td>
      </tr>
    <% end %>
  </table>

  <br />

  <%= will_paginate(@historias_clinicas) %>
</div>  
