<div class="page-header">
  <h1>Historias Cl&iacute;nicas</h1>
</div>

<%= render 'shared/nav_bar' %>

<div id="list">
  <%= render 'shared/search_bar' %>

  <table class="table table-striped">
    <tr>
      <th class="dropdown-toggle" data-toggle="dropdown">Nombre Socio</th>
      <th>Motivo Consulta</th>
      <th>Enfermedad Actual</th>
      <th>Diagn&oacute;stico</th>
      <th>Recomendaciones</th>
      <th></th>
    </tr>

    <% @historias_clinicas.each do |historias_clinica| %>
      <tr>
        <td>
          <%= link_to historias_clinica.socio.nombre_completo, paciente_historia_clinicas_path(historias_clinica.socio, historias_clinica) %>
        </td>  
        <td><%= historias_clinica.motivo_consulta %></td>
        <td><%= historias_clinica.enfermedad_actual %></td>
        <td><%= historias_clinica.diagnostico %></td>
        <td><%= historias_clinica.recomendaciones %></td>
        <td>
          <%= link_to 'Editar', edit_historias_clinica_path(historias_clinica), :class => 'btn btn-mini' %>
          <%= link_to 'Eliminar', historias_clinica_path(historias_clinica), :method => :delete, :data => {:confirm => 'Está seguro?'}, :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </table>

  <br />

  <%= will_paginate(@historias_clinicas) %>
</div>  
