<div class="page-header">
  <h1><%= @paciente.nombre_completo %></h1>
</div>

<div class="fieldset">
  <h3>Informaci&oacute;n B&aacute;sica</h3>  
  <div class="span11 well">
  
    <ul class="thumbnails" style="margin-bottom:0px">
      <li class="span3" style="margin-bottom:0px">
        <a href="javascript:void(0)" class="thumbnail">
          <%= image_tag @paciente.foto_socio, :width => '160px', :height => '200px' %>
        </a>
      </li>
      <li class="span9" style="margin-bottom:0px;margin-right:0px;">
        <dl class="dl-horizontal span6" style="margin-bottom:0px">
          <dt>Doc. Identidad</dt>
          <dd><%= @paciente.NumDocumento %></dd>
          
          <dt>Fecha Nacimiento</dt>
          <dd><%= @paciente.fecha_nacimiento %></dd>
          
          <dt>Dir. Residencia</dt>
          <dd><%= @paciente.DirResidencia %></dd>
          
          <dt>Celular</dt>
          <dd><%= @paciente.Celular %></dd>
          
          <dt>Email</dt>
          <dd>
              <%= @paciente.EmailPersonal %> 
          </dd>
        </dl>
        <dl class="dl-horizontal span6" style="margin-bottom:0px">
          <dt>Edo. Civil</dt>
          <dd><%= @paciente.nombre_estado_civil %></dd>
          
          <dt>Sexo</dt>
          <dd><%= @paciente.sexo %></dd>

          <dt>Tel. Residencia</dt>
          <dd><%= @paciente.TelResidencia %></dd>

          <dt>Fecha Creaci&oacute;n</dt>
          <dd><%= @historia_clinica.fecha_creacion %></dd>
        </dl>
      </li>
    </ul>
  </div>
</div>

<div class="span11 historia_clinica_detalle">
  <legend style="font-size:16px"></legend>
  <div class='span11'>
    <div class="span7">
      <dl class="dl-horizontal" style="margin-bottom:0px">
        <dt>Nombre de acompañante</dt>
        <dd>
          <%= @historia_clinica.nombre_acompanante %>
        </dd>
        <dt>Persona responsable</dt>
        <dd>
          <%= @historia_clinica.nombre_responsable %>
        </dd>
        <dt>Aseguradora (E.P.S.)</dt>
        <dd>
          <%= @historia_clinica.nombre_aseguradora %>
        </dd>
        <dt>Tipo de sangre</dt>
        <dd>
          <%= @historia_clinica.tipo_sangre %>
        </dd>
      </dl>
    </div>
    <div class="span4">
      <dl class="dl-horizontal" style="margin-bottom:0px">
        <dt >Tel&eacute;fono</dt>
        <dd>
          <%= @historia_clinica.telefono_acompanante %>
        </dd>
        <dt>Tel&eacute;fono</dt>
        <dd>
          <%= @historia_clinica.telefono_responsable %>
        </dd>
        <dt>Tipo vinculaci&oacute;n</dt>
        <dd>
          <%= @historia_clinica.tipo_aseguradora %>
        </dd>
        <dt>Grupo de Paciente</dt>
        <dd>
          <%= @historia_clinica.grupo_paciente %>
        </dd>
        </dt>  
      </dl>
    </div>
  </div>
</div>  

<div class="span11 historia_clinica_detalle">
  <legend style="font-size:14px">Motivo de Consulta</legend>
  <pre><%= @historia_clinica.motivo_consulta %></pre>
  <legend style="font-size:14px">Enfermedad Actual</legend>
  <pre><%= @historia_clinica.enfermedad_actual %></pre>
  <legend style="font-size:14px">Antecedentes personales patol&oacute;gicos</legend>
  <pre><%= @historia_clinica.ante_personales_patologicos %></pre>
  <legend style="font-size:14px">Antecedentes Gino-obst&eacute;tricos</legend>
  <pre><%= @historia_clinica.ante_gino_obstetricos %></pre>
  <legend style="font-size:14px">Antecedentes Quir&uacute;rgicos</legend>
  <pre><%= @historia_clinica.ante_quirurgicos %></pre>
  <legend style="font-size:14px">Antecedentes Al&eacute;rgicos</legend>
  <pre><%= @historia_clinica.ante_alergicos %></pre>
  <legend style="font-size:14px">Antecedentes Familiares</legend>
  <pre><%= @historia_clinica.ante_familiares %></pre>
  <legend style="font-size:14px">Examen F&iacute;sico.</legend>
</div>

<div class="span11 historia_clinica_detalle">
  <div class='span11'>
    <div class="span5">
      <dl class="dl-horizontal" style="margin-bottom:0px">
        <dt>FC</dt>
        <dd>
          <%= @historia_clinica.frecuencia_cardiaca %>
        </dd>
        <dt >TA</dt>
        <dd>
          <%= @historia_clinica.tension_arterial %>
        </dd>
        <dt>FR</dt>
        <dd>
          <%= @historia_clinica.frecuencia_respiratoria %>
        </dd>
        <dt>Temperatura</dt>
        <dd>
          <%= @historia_clinica.temperatura %>
        </dd>
      </dl>
    </div>
    <div class="span5">
      <dl class="dl-horizontal" style="margin-bottom:0px">
        <dt>Peso Actual</dt>
        <dd>
          <%= @historia_clinica.peso_actual %>
        </dd>
        <dt>Talla</dt>
        <dd>
          <%= @historia_clinica.talla %>
        </dd>
        <dt>IMC</dt>
        <dd>
          <%= @historia_clinica.imc %>
        </dd>
        <dt>%Graso</dt>
        <dd>
          <%= @historia_clinica.porcentage_graso %>
        </dd>
      </dl>
    </div>
  </div>
</div>

<div class="span11 historia_clinica_detalle">
  <legend style="font-size:14px">Aparatos Y Sistemas</legend>
  <pre><label>CCC:</label>fdf<%= @historia_clinica.ccc %></pre>
  <pre><label>Cardio Pulmonar:</label>sdfd<%= @historia_clinica.cardiopulmonar %></pre>
  <pre><label>Abdomen:</label><%= @historia_clinica.abdomen %></pre>
  <pre><label>Extremidades:</label><%= @historia_clinica.extremidades %></pre>
  <pre><label>SNC:</label><%= @historia_clinica.snc %></pre>
  <legend style="font-size:14px">Diagn&oacute;stico</legend>
  <pre><%= @historia_clinica.diagnostico %></pre>
  <legend style="font-size:14px">Recomendaciones</legend>
  <pre><%= @historia_clinica.recomendaciones %></pre>
</div>