<ul class="nav nav-tabs">
  <li title="" rel="" class="icon index_collection_link <%= controller.action_name.eql?('index') ? 'active' : '' %>">
    <a class="pjax" href= <%= citas_medicas_path %>>
      <i class="icon-th-list"></i>
      <span>Agenda</span>
    </a>
  </li>

  <li title="" rel="" class="icon new_collection_link <%= controller.action_name.eql?('busqueda') ? 'active' : '' %>">
    <a class="pjax" href= <%= busqueda_citas_medicas_path %>>
      <i class="icon-search"></i>
      <span>Búsqueda</span>
    </a>
  </li>

  <li title="" rel="" class="icon new_collection_link <%= controller.action_name.eql?('citas') ? 'active' : '' %>">
    <a class="pjax" href= <%= citas_citas_medicas_path %>>
      <i class="icon-book"></i>
      <span>Citas</span>
    </a>
  </li>
 
  <% if controller.controller_name.eql?('citas_medicas') && (controller.action_name.eql?('agendar') || controller.action_name.eql?('create'))%>
  <li title="" rel="" class="icon new_collection_link active %>">
    <a class="pjax" href="javascript:void(0)">
      <i class="icon-plus"></i>
      <span>Nueva Cita</span>
    </a>
  </li>
  <% end %>
</ul>