<div class="page-header">
    <h1>Citas Médicas</h1>
</div>

<ul class="nav nav-tabs">
  <li title="" rel="" class="icon index_collection_link active">
    <a class="pjax" href= <%#= citas_medicas_path %>>
      <i class="icon-th-list"></i>
      <span>Lista</span>
    </a>
  </li>

  <li title="" rel="" class="icon new_collection_link">
    <a class="pjax" href= <%#= new_citas_medica_path %>>
      <i class="icon-plus"></i>
      <span>Nueva Cita</span>
    </a>
  </li>
</ul>

<div id="list">
  <%= form_tag agendar_citas_medicas_path, :class => "form-inline", :method => :get do %>
    <div style="margin:0;padding:0;display:inline">
      <input name="utf8" type="hidden" value="✓">
    </div>
    <div class="well">
      <span id="filters_box"></span>
      <hr class="filters_box" style="display:none">
      <input class="" name="query_string" placeholder="No. Acción/Cédula" type="search" value="">
      <button class="btn btn-primary" data-disable-with="&lt;i class='icon-white icon-refresh'&gt;&lt;/i&gt; Refresh" type="submit">
        <i class="icon-white icon-refresh"></i>
        Buscar
      </button>
    </div>
  <% end %>

  <table class="table table-striped">
    <tr>
      <!-- <th>Foto</th> -->
      <th>Cédula</th>
      <th>Numero accion</th>
      <th>Nombre Completo</th>
      <th>Tel. Residencial</th>
      <th>Celular</th>
      <th>Email</th>
      <th></th>
    </tr>

  <% @pacientes.each do |paciente| %>
    <tr>
     <!--  <td><%= paciente.foto.present? ? paciente.foto.Photo : 'No Photo' %></td> -->
      <td><%= paciente.NumDocumento %></td>
      <td><%= paciente.NumSocio %></td>
      <td><%= paciente.NombreSocio.to_s.force_encoding("UTF-8") %> </td>
      <td><%= paciente.TelResidencia %></td>
      <td><%= paciente.Celular %></td>
      <td><%= paciente.EmailPersonal %></td>
      <td><%= link_to 'Agendar Cita', '', :class => 'btn' %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= will_paginate(@pacientes) %>
</div>  
