<div class="page-header">
  <h1>Citas Médicas</h1>
</div>

<%= render 'nav_bar' %>

<div id="list">
  <%= render 'search_bar' %>

  <table class="table table-striped">
    <tr>
      <!-- <th>Foto</th> -->
      <th>Cédula</th>
      <th>Numero accion</th>
      <th>Nombre Completo</th>
      <th>Tel. Residencial</th>
      <th>Celular</th>
      <th>Email</th>
      <th></th>
    </tr>

  <% @socios.each do |socio| %>
    <tr>
     <!--  <td><%#= socio.foto.present? ? socio.foto.Photo : 'No Photo' %></td> -->
      <td><%= socio.NumDocumento %></td>
      <td><%= socio.NumSocio %></td>
      <td><%= socio.NombreSocio.to_s.force_encoding("UTF-8") %> </td>
      <td><%= socio.TelResidencia %></td>
      <td><%= socio.Celular %></td>
      <td><%= socio.EmailPersonal %></td>
      <td><%= link_to 'Agendar Cita', agendar_citas_medicas_path(:id_unico_socio => socio.IdUnicoSocio), :class => 'btn' %></td>
    </tr>
  <% end %>
  </table>

</div>  