<div class="page-header">
  <h1>Citas Médicas</h1>
</div>

<%= render 'shared/nav_bar' %>

<div class="fieldset">
  <h3>Edite una Cita</h3>  
  <div class="span11 well">
  
    <ul class="thumbnails" style="margin-bottom:0px">
      <li class="span3" style="margin-bottom:0px">
        <a href="#" class="thumbnail">
          <%= image_tag @cita_medica.socio.foto_socio, :width => '160px', :height => '200px' %>
        </a>
      </li>
      <li class="span9" style="margin-bottom:0px">
        <dl class="dl-horizontal" style="margin-bottom:0px">
          <dt class="fix_dt">Cédula</dt>
          <dd class="fix_dd"><%= @cita_medica.socio.NumDocumento %></dd>
          
          <dt>Numero accion</dt>
          <dd><%= @cita_medica.socio.NumSocio %></dd>
          
          <dt>Tel. Residencial</dt>
          <dd><%= @cita_medica.socio.TelResidencia %></dd>
          
          <dt>Celular</dt>
          <dd><%= @cita_medica.socio.Celular %></dd>
          
          <dt>Email</dt>
          <dd>
            <%= @cita_medica.socio.email %>  
          </dd>
          
          <dt>Seleccione día y hora</dt>
          <dd>
            <%= simple_form_for @cita_medica, :url => citas_medica_path, :html => {:class => "form-inline", :style => "margin-bottom:0px"} do |f| %>
                
              <%= f.text_field :dia_cita, :class => "input-small", :'data-behaviour' => "datepicker", :style => "margin-right: 10px;", :value => @cita_medica.dia %>
              <i class="icon-calendar" style="margin: 0 0 0 -30px; pointer-events: none; position: relative;"></i>
                 
              <%= f.text_field :hora_cita, :class => "timepicker-2 input-small", :'data-behaviour' => "timepicker", :style => "margin-right: 10px;", :value => @cita_medica.hora  %>
              <i class="icon-time" style="margin: 0 0 0 -30px; pointer-events: none; position: relative;"></i>
                  
              <button class="btn btn-primary" data-disable-with="&lt;i class='icon-white icon-refresh'&gt;&lt;/i&gt; Refresh" type="submit">
                  <i class="icon-white icon-ok"></i>
                  Salvar
              </button>
            
              <% if @cita_medica.errors.any? %>  
                <li>
                  <span class="label label-important"><%= @cita_medica.errors.full_messages.first %></span>
                </li>  
              <% end %> 
            <% end %>
          </dd>
        </dl>
      </li>
    </ul>
  </div>
  <%= render 'ultimas_citas' %>
</div>