<div class="page-header">
  <h1>Citas Médicas</h1>
</div>

<%= render 'shared/nav_bar' %>

<div id="list">
  <%= render 'shared/search_bar' %>

  <table class="table table-striped">
    <tr>
      <th class="dropdown-toggle" data-toggle="dropdown">Fecha Cita</th>
      <th>Cédula</th>
      <th>No Accion</th>
      <th>Nombre Completo</th>
      <th>Tel. Res.</th>
      <th>Celular</th>
      <th></th>
    </tr>

    <% @citas_medicas.each do |cita| %>
      <tr>
        <td><%= cita.fecha_cita %></td>
        <td><%= cita.socio.NumDocumento %></td>
        <td><%= cita.socio.NumSocio %></td>
        <td><%= cita.socio.nombre_completo %> </td>
        <td><%= cita.socio.TelResidencia %></td>
        <td><%= cita.socio.Celular %></td>
        <td>
          <%= link_to 'Editar', edit_citas_medica_path(cita), :class => 'btn btn-mini' %>
          <%= link_to 'Eliminar', citas_medica_path(cita), :method => :delete, :confirm => 'Está seguro?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </table>

  <br />

  <%= will_paginate(@citas_medicas) %>
</div>  
